@Model DrugaMVC.Models.Student
@{
    ViewBag.Title = "TestRazorja";
}
<h1>Test Razor sintakse</h1>
<ul>
    <li>StudentID: @Model.StudentId</li>
    <li>Ime:        @Model.StudentName</li>
    <li>Starost:    @Model.Age</li>
</ul>